.mr-auto a{
  color: gray !important;
  padding: 4px;
  text-decoration: none;
}

.main-container {
  text-align: center;
}

.profileImg {
  width: 10rem;
}

.profile .row {
  margin: 2rem !important;
}

.logoImg {
  width: 10rem;
}

.card {
  margin-top: 3rem;
  width: 100%;
}

.categoriesButton {
  margin: 2rem;
}

h1 {
  margin-top: 5px;
}