<!--    Basic Template for EUPortal
        Subject to major changes and revision
        @author Pierre Nortje, 18191436
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Epi-Use template for allowing businesses to create their own shopping websites." />
    <title>Epi-Use Portal</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/general.css">
    {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand text-primary" href="{{ url_for('index') }}">
                <img src="potato.jpg" alt="company logo" style="width:42px;height:42px;border:0;">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <!-- Create session checking here -->
                    {% if login==True %}
                    <!-- ---------------------------------------------------- -->
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="profile.html">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="logout.html">Log Out</a>
                    </li>
                    <!-- End session checking here -->
                    {% else %}
                    <!-- ---------------------------------------------------- -->
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="login.html">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="register.html">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container bg-light pagebody">
        <!-- BODY GOES HERE (other pages extend this template!) -->
        {% block content %}{% endblock %}
        <!-- ---------------------------------------------------- -->
    </div>

    <footer class="py-4 bg-light footer">
        <div class="container">
            <p class="m-0 text-center text-primary">Copyright &copy; Stellenbosch University</p>
            <a class="nav-item" href="about.html">About us</a>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='JS/general.js') }}" crossorigin="anonymous"></script>

</body>

</html>
