{% extends "layout.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="../static/css/products.css">
{% endblock stylesheets %}

{% block content %}
<h1 class="pg-title">Products Page</h1>

<div class="row justify-content-center items">
	<div class="col-md-4">
		<div class="card shadow trans">
			<img class="card-img-top" src="../static/images/logo.png" alt="logo">
			<div class="card-body">
				<h5 class="card-title"><strong>Tester</strong></h5>
				<p class="card-text">This is some random text</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card shadow trans">
			<img class="card-img-top" src="../static/images/logo.png" alt="logo">
			<div class="card-body">
				<h5 class="card-title"><strong>Tester</strong></h5>
				<p class="card-text">This is some random text</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card shadow trans">
			<img class="card-img-top" src="../static/images/logo.png" alt="logo">
			<div class="card-body">
				<h5 class="card-title"><strong>Tester</strong></h5>
				<p class="card-text">This is some random text</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
