* {
  outline: none;
}

a.active.link {
  color: white !important;
}

.center-text {
  text-align: center;
}

.eu-footer {
  margin: 0 auto;
  padding: 0.35rem 0;
}

.page-container {
  position: relative;
  min-height: calc(100vh - 0px);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: #fa8;
}

.push-footer {
  margin-bottom: 1rem;
}

.push-right a {
  color: gray;
  padding: 4px;
  text-decoration: none;
}

.main-container {
  text-align: center;
}

.profileImg {
  width: 10rem;
}

.profile .row {
  margin: 2rem !important;
}

.logoImg {
  width: 10rem;
}

.card {
  margin-top: 3rem;
  width: 100%;
}

.categoriesButton {
  margin: 2rem;
}

h1 {
  margin-top: 5px;
}

.logoImg {
  width: 6rem;
  height: 6rem;
}

.box {
  width: 20px;
  height: 20px;
  border-color: black;
}
